.QuienesSomos{
	padding-top: 40px;
	h1{
		text-align: center;
	}
	.content{
		margin-top: 45px;
		h2{
			text-align: center;
		}
	}

	.logo{
		margin-top: 130px;
		img{
			display: block;
    		margin: 0 auto; 
    		width: 45%;
		}
	}
}