<nav id="Navbar" class="navbar navbar-inverse navigation navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="images/logo.png">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="mHome active"><a href="#Home">Home</a></li>
        <li class="mServicios"><a href="#Services">Servicios</a></li>
        <li class="mProyectos"><a href="#Projects">Proyectos</a></li>
        <li class="mQSomos"><a href="#WhoWeAre">Quienes Somos?</a></li>
        <li class="mContacto"><a href="#Contact">Contacto</a></li>
        
      </ul>
    </div>
  </div>
</nav>
