{% for project in projects%}
  <div id="{{project.id}}" class="modal fade" tabindex="10" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg-" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          <h1>{{project.name}}</h1>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="row">
    <div class="col-xs-12 title"><H1>Proyectos</H1></div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="firstSlide">
        {% for project in projects %}
        <button type="button" data-toggle="modal" data-target="#{{project.id}}">
          <div class="contentFirst {{project.id}}">
            <div class="imageSlide">
              {% for image in project.images %}
                <div class="image">
                  <img class="img-responsive" src="{{image.src}}">
                </div>
              {% endfor%}
            </div>
            <h1>{{project.name}}</h1>
            <p>{{project.description}}</p>
          </div>
          </button> 
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="noPadding col-xs-12 hidden-xs hidden-sm">
        <div class="secondSlide">
          {% for project in projects %}
            <div class="contentSecond {{project.id}}">
            <img src="{{project.images[0].src}}">
              <h1>{{project.name}}</h1>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>