<div class="row">
	<div class="col-xs-12 title"><H1>Quienes Somos?</H1>
	</div>
</div>
<div class="row content">
	<div class="col-xs-12 col-sm-4 col-sm-offset-1 mision">
		<h2>Misión</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non erat odio. Nam congue ultricies massa quis ullamcorper. Praesent id consectetur nulla. Nulla vehicula ex leo, in efficitur leo porta ac. Ut et elit erat. Maecenas condimentum odio ac ipsum facilisis tristique. Aliquam eleifend aliquam mi, nec commodo nibh dapibus in. Phasellus a tortor eget libero consequat dictum ut eget tortor. Morbi tempor tincidunt tortor, id congue magna tempus quis. Suspendisse potenti. Praesent laoreet tincidunt dignissim. Mauris ac tellus id augue tempus sodales.
		</p>
	</div>
	<div class="col-xs-12 col-sm-4 col-sm-offset-2 vision">
		<h2>Visión</h2>
		<p>Maecenas placerat at dolor in ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc aliquam odio ut justo cursus dictum. Fusce bibendum nibh vulputate neque euismod aliquet. Nulla commodo euismod dolor vel consectetur. Nam finibus quam nec diam rhoncus volutpat. Proin orci orci, rhoncus quis sem sed, pharetra maximus mauris. Sed in mauris ultrices, imperdiet est ac, maximus quam. Suspendisse id nisl gravida, consequat diam pellentesque, dignissim arcu. Donec blandit, est sit amet bibendum faucibus, turpis ipsum vestibulum eros, a mattis felis mauris sed dolor. Sed a tincidunt turpis. Vivamus auctor turpis in mi tempus, at facilisis sem pellentesque.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 logo">
		<img src="images/logo.png">
	</div>
</div>