<!-- servicios.html -->
<div class="section">
  <div class="col-xs-12 title"><H1>Nuestros Servicios</H1></div>
  <!--servicio 1-->
  <div class="services serviceOne row">
    <div class=" images col-sm-5 hidden-xs">
      <img class="outlet" src="images/servicios/outlet.png">
      <img class="bulb" src="images/servicios/bulb.png">
    </div>
    <div class=" text col-sm-6">
      <h2>Instalaciones Electricas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna velit, tincidunt id justo eu, egestas scelerisque ligula. Cras eleifend elementum tortor, vel mattis nisl sollicitudin a. Integer auctor erat odio, eget porta lectus tempus quis. Duis quis venenatis justo, et gravida eros. Curabitur lobortis erat a hendrerit scelerisque. Mauris erat felis, molestie sed nunc et, varius mattis ligula. Aenean orci metus, laoreet in ultrices vel, facilisis sed odio. Etiam ac sodales lacus.</p>
    </div>
  </div>
  <!--servicio 2-->
  <div class="services serviceTwo row">
    <div class=" text col-sm-offset-1 col-sm-6">
      <h2>Sistemas de Alarmas</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna velit, tincidunt id justo eu, egestas scelerisque ligula. Cras eleifend elementum tortor, vel mattis nisl sollicitudin a. Integer auctor erat odio, eget porta lectus tempus quis. Duis quis venenatis justo, et gravida eros. Curabitur lobortis erat a hendrerit scelerisque. Mauris erat felis, molestie sed nunc et, varius mattis ligula. Aenean orci metus, laoreet in ultrices vel, facilisis sed odio. Etiam ac sodales lacus.</p>
    </div>
    <div class=" images col-sm-offset-1 col-sm-4 hidden-xs">
      <img class="alarmKit" src="images/servicios/alarmkit.png">
    </div>
  </div>
</div>
<div class="section">
  <!--servicio 3-->
  <div class="services serviceThree row">
    <div class=" images col-sm-5 hidden-xs">
      <img class="firePanel" src="images/servicios/fireLight.png">
    </div>
    <div class=" text col-sm-6">
      <h2>Sistemas contra Incendios</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna velit, tincidunt id justo eu, egestas scelerisque ligula. Cras eleifend elementum tortor, vel mattis nisl sollicitudin a. Integer auctor erat odio, eget porta lectus tempus quis. Duis quis venenatis justo, et gravida eros. Curabitur lobortis erat a hendrerit scelerisque. Mauris erat felis, molestie sed nunc et, varius mattis ligula. Aenean orci metus, laoreet in ultrices vel, facilisis sed odio. Etiam ac sodales lacus.</p>
    </div>
  </div>
  <!--servicio 4-->
  <div class="services serviceFour row">
    <div class=" text col-sm-offset-1 col-sm-6 ">
      <h2>Sistemas de CCTV</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla magna velit, tincidunt id justo eu, egestas scelerisque ligula. Cras eleifend elementum tortor, vel mattis nisl sollicitudin a. Integer auctor erat odio, eget porta lectus tempus quis. Duis quis venenatis justo, et gravida eros. Curabitur lobortis erat a hendrerit scelerisque. Mauris erat felis, molestie sed nunc et, varius mattis ligula. Aenean orci metus, laoreet in ultrices vel, facilisis sed odio. Etiam ac sodales lacus.</p>
    </div>
    <div class=" images col-sm-4 hidden-xs">
      <img class="cameraBullet" src="images/servicios/cameraBullet.png">
      <img class="cameraOval" src="images/servicios/cameraOval.png">
    </div>
  </div>
</div>